.home{
    background-image: url("/images/emilia-home.jpg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right -90px;
}

.home h1, .home h2{
    text-transform: uppercase;
}



.home h1{
    font-family: var(--font-titulo);
    background-color: rgba(255, 255,255, 0.5);
    margin-top: var(--fontSize-titulo);
    font-size: 92px;
}

.home h2{
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    margin-top: 150px;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 200;
}